-# %ol.breadcrumb
-#   %li.breadcrumb-item
-#     = link_to 'Home', root_path
-#   %li.breadcrumb-item
-#     = link_to 'Courses', courses_path
-#   %li.breadcrumb-item
-#     = link_to @enrolment.course, course_path(@enrollment.course)
-#   %li.breadcrumb-item
-#     = @enrollment

- content_for :title do
  CourseUp
  \|
  Edit
  = @enrollment

.card
  .card-header
    %h3
      .fa.fa-lock-open
      Editing enrollment

  .card-body
    = render 'form'

= link_to 'Show', @enrollment
\|
= link_to 'Back', enrollments_path
