-# %ol.breadcrumb
-#   %li.breadcrumb-item
-#     = link_to 'Home', root_path
-#   %li.breadcrumb-item
-#     = link_to 'Courses', courses_path
-#   %li.breadcrumb-item
-#     = link_to @enrolment.course, course_path(@enrollment.course)
-#   %li.breadcrumb-item
-#     = @enrollment

- content_for :title do
  CourseUp
  \|
  Add a review
  = @enrollment

.card
  .card-header
    %h3
      .fa.fa-star.text-warning
      Add a Review

  .card-body
    = render 'form'

  .card-footer
    = link_to 'Show review', @enrollment
    \|
    = link_to 'Back to course', course_path(@enrollment.course)
