- content_for :title do
  CourseUp
  \|
  New enrollment

.card
  .card-header
    %h3
      .fa.fa-lock-open
      New enrollment
  .card-body
    = render 'form'

= link_to 'Back', enrollments_path
